---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import StorySection from '../components/sections/StorySection.astro';
import ProductShowcase from '../components/sections/ProductShowcase.astro';
import LineupSection from '../components/sections/LineupSection.astro';
import CtaSection from '../components/sections/CtaSection.astro';
---

<BaseLayout>
  <main>
    <HeroSection />
    <StorySection />
    <ProductShowcase />
    <LineupSection />
    <CtaSection />
  </main>
</BaseLayout>
